@model IEnumerable<RESTDemo.Models.StockQuote>

<div id="stockList">
    <table id="stockTable">
        <tr>
            <td>Symbol</td>
            <td>Last Price</td>
            <td class="change">Change</td>
            <td class="change">Change Percent</td>
            <td>Volume</td>
            <td class="last-column"></td>
        </tr>
            @Html.Partial("stockList", Model)

</table>
</div>
