.data-row td {

}
.data-row:hover {
    background-color: silver; 
}

td.last-column {
    border-bottom-style: none;
}

.delete-me {
    height: 18px;
    width: 18px;
    display: block;
}

.data-row:hover .delete-me {
    background-image: url(http://i.imgur.com/i18c75p.png);
    cursor: pointer;
}

td {

}

.num-pos {
    color: green;
}

.num-neg {
    color: red;
}

.num-zero {
    color: blue;
}

.stock-symbol {
    color: blue;
}


